html,body{
    background-image: url("backgroundcollage.jpg");
    height: 100%;
}
.marvel-logo{
    width: 175px;
    height: 70px;
    display: inline-block;
    
}

.logo{
    text-align:  center;
    color: white;
}

footer{
    text-align:  center;
    
}

footer a{
    color: white;
}